@page "/"

@using BlazorKopikoDemoClient.Components.Product_Card
@using BlazorKopikoDemoClient.Protos;
@using Google.Protobuf.WellKnownTypes;
@using Grpc.Net.Client;
@inject GrpcChannel channel;

<PageTitle>Our Products</PageTitle>

<h1 class="fs-3">Our Products</h1>


@if (_reply == null)
{
    <span class="spinner-border text-primary position-absolute top-50 start-50" role="status"></span>
}
else
{
    <div class="container text-center">
        <div class="row gx-3 gy-3">
            @foreach (var product in _reply.Products)
            {
                <div class=" col-lg-4">                   
                    <ProductCard 
                        CardImageUrl="@product.ProductImageUrl" 
                        CardTitle="@product.ProductName" 
                        CardPrice="@product.Price"
                        ProductId="@product.ProductID" 
                     />
                </div>
            }
        </div>
    </div>
}

@code {
    private GetAllProductsReply _reply;
    protected override async Task OnInitializedAsync()
    {
        var client = new ProductItem.ProductItemClient(channel);
        _reply = await client.GetAllProductsAsync(new Empty());
    }
}