@page "/product/{productId:long}"

@using BlazorKopikoDemoClient.Client.DataModels;
@using BlazorKopikoDemoClient.Client.State;
@using BlazorKopikoDemoClient.Protos;
@using Grpc.Net.Client;
@inject GrpcChannel channel;
@inject CartState CartState;

@if (_reply == null)
{
    <span class="spinner-border text-primary position-absolute top-50 start-50" role="status"></span>
}
else
{
    <div class="container min-vh-100 d-flex justify-content-center align-items-md-start align-items-lg-center">
        <div class="row">
            <div class="col" style="min-width: 300px">
                <img src="@_reply.ProductImageUrl" class="img-fluid" alt="...">
            </div>
            <div class="col p-4 d-flex flex-column justify-content-between" style="min-width: 300px">
                <div>
                    <h5 class="card-title">@_reply.ProductName</h5>
                    <p class="card-text">@_reply.ProductDescription</p>
                    <p class="card-text"><small class="text-muted">$@_reply.Price</small></p>
                </div>
                <div class="d-flex align-items-center gap-4">
                    <button type="button" class="btn btn-primary" @onclick="AddToCart">Add to Cart</button>
                    <div class="input-group w-25">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-danger btn-number" @onclick="DecrementQuantity">
                                <span class="oi oi-minus"></span>
                            </button>
                        </span>
                        <input type="text" readonly class="form-control input-number" value="@_quntity" min="1" max="100">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success btn-number" @onclick="IncrementQuantity">
                                <span class="oi oi-plus"></span>
                            </button>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public long ProductId { get; set; } = 1;
    private long _productID;
    private ProductDetails _reply;

    private int _quntity = 1;

    protected override async Task OnInitializedAsync()
    {
        _productID = ProductId;
        var client = new ProductItem.ProductItemClient(channel);
        var request = new GetProductByIdRequest() { ProductID = _productID };
        _reply = await client.GetProductByIdAsync(request);
    }

    private void IncrementQuantity()
    {
        if (_quntity < 100)
            _quntity++;
    }

    private void DecrementQuantity()
    {
        if (_quntity > 1)
            _quntity--;
    }

    private async Task AddToCart()
    {
        CartItem item = new CartItem
            {
                ProductId = _reply.ProductID,
                PricePerPiece = _reply.Price,
                Quantity = _quntity,
            };

        await CartState.AddItemToCart(item);
    }

}
